body,
html {
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: auto;
	background-color: black;
}

#stats {
	top: unset !important;
	left: unset !important;
	bottom: 1rem !important;
	right: 1rem !important;
	filter: grayscale(1) drop-shadow(0px 0px 5px #000);
	opacity: 0.3 !important;
}

:root {
	--tp-font-family: Verdana;
	--tp-base-background-color: hsla(0, 0%, 10%, 0.8);
	--tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
	--tp-button-background-color: hsla(0, 0%, 80%, 1);
	--tp-button-background-color-active: hsla(0, 0%, 100%, 1);
	--tp-button-background-color-focus: hsla(0, 0%, 95%, 1);
	--tp-button-background-color-hover: hsla(0, 0%, 85%, 1);
	--tp-button-foreground-color: hsla(0, 0%, 0%, 0.8);
	--tp-container-background-color: hsla(0, 0%, 0%, 0.3);
	--tp-container-background-color-active: hsla(0, 0%, 0%, 0.6);
	--tp-container-background-color-focus: hsla(0, 0%, 0%, 0.5);
	--tp-container-background-color-hover: hsla(0, 0%, 0%, 0.4);
	--tp-container-foreground-color: hsla(0, 0%, 100%, 0.5);
	--tp-groove-foreground-color: hsla(0, 0%, 0%, 0.2);
	--tp-input-background-color: hsla(0, 0%, 0%, 0.3);
	--tp-input-background-color-active: hsla(0, 0%, 0%, 0.6);
	--tp-input-background-color-focus: hsla(0, 0%, 0%, 0.5);
	--tp-input-background-color-hover: hsla(0, 0%, 0%, 0.4);
	--tp-input-foreground-color: hsla(0, 0%, 100%, 0.5);
	--tp-label-foreground-color: hsla(0, 0%, 100%, 0.5);
	--tp-monitor-background-color: hsla(0, 0%, 0%, 0.3);
	--tp-monitor-foreground-color: hsla(0, 0%, 100%, 0.3);
}

canvas {
	position: absolute;
}
